8\. feladat

In [ ]:
match(p:Person)-[:ACTED_IN]->(m:Movie)<-[:ACTED_IN]-(p2:Person)
where p2.name = "Tom Hanks" AND p.name <> "Tom Hanks"
return distinct p.name

7\. feladat

In [ ]:
create table STUDENT(ID int, Nev varchar, Teljesitett_felevek LIST<int>, Eredmenyek MAP<text, text>, Nyelvtudas SET<text>, primary key(ID));
INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) VALUES (1, 'Toth Otto', [1, 2], {'1': '3,05', '2': '4,5'}, {'angol'});
INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) VALUES (2, 'Kis Kalman', [1, 2, 3], {'1': '3,85', '2': '2,8', '3':'5,00'}, {'angol', 'nemet', 'orosz'});